@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
	font-family: "Open Sans";
	margin: 0;
	color: #FFF;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #333;
	padding: 0;
	margin: 0;
}

aside {
	width: 20%;
	height: 100%;
	background-color: #323a4c;
	margin: 0;
	padding: 0;
	float: left;
}

main {
	width: 80%;
	height: 100%;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	float: right;
	color: #000;
	max-height: 100vh;
	overflow: auto;
}

aside h2, aside h3, aside h5 {
	padding: 0 0 0 5px;
	font-family: "Roboto Slab";
	color: #FFF;
}

aside h5, img + h3 {
	margin: 0;
}

aside ul {
	width: 100%;
	padding-top: 4px;
	margin-left: -4%;
}

aside li {
	height: 25px;
	list-style-type: none;
}

aside ul ul li.tech {
	height: 25px;
	list-style-image: url("../img/menu-dot.png");
	padding-left: 5%;
}
aside ul ul li.design {
	height: 25px;
	list-style-image: url("../img/menu-dot-2.png");
	padding-left: 5%;
}

aside hr {
	width: 100%;
	height: 1px;
	margin: 20px 0 5px 0;
    border-top: 1px solid #313649;
    border-bottom: 0px;
}

#settings {
	margin-bottom: 0px;
}

#search {
	width: 100%;
	height: 70px;
<<<<<<< HEAD
	text-align: center;
	background-color: #FFF;
}

.search-logo {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	float: left;
	opacity: 0.5;
}

.search-item {
	float: left;
	height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #709d3c;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 1px;
	color: #FFF;
	box-sizing: border-box;
	padding: 3px;
}

.search-cross {
	float: left;
	margin-top: 20px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	box-sizing: border-box;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #709d3c;
}

#menu {
	background-color: #f4f8fb;
	height: 70px;
	border-top: solid 1px #e1ecf3;
	border-bottom: solid 1px #e1ecf3;
}

.menu-item {
	width: 25%;
	height: 70px;
	text-align: center;
	color: #9CB1C1;
=======
	text-align: center;
	background-color: #FFF;
}

.search-logo {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	float: left;
	opacity: 0.5;
}

.search-item {
	float: left;
	height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #709d3c;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 1px;
	color: #FFF;
	box-sizing: border-box;
	padding: 3px;
}

.search-cross {
	float: left;
	margin-top: 20px;
	height: 30px;
	box-sizing: border-box;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #709d3c;
}

#menu {
	background-color: #f4f8fb;
	height: 70px;
	border-top: solid 1px #e1ecf3;
	border-bottom: solid 1px #e1ecf3;
}

.menu-item {
	width: 25%;
	height: 70px;
	text-align: center;
	color: #a7b4c1;
>>>>>>> origin/master
	font-weight: 700;
	font-family: "Roboto Slab";
	font-size: 1.1em;
	float: left;
	padding: 20px;
	box-sizing: border-box;
	border-right: solid 1px #e1ecf3;
}
.menu-item:first {
	border-left: solid 1px #e1ecf3;
}

.intro {
	min-width: 100%;
	padding-left: 5%;
}

.star { 
	float: left;
	padding: 10px;
}

.hamburger {
	float: left;
	padding: 0 8px 0 5%;
}

#feed {
	background-color: #3e445c;
}

.highlight {
	background-color: #3ab34d;
	padding-left: 5%;
}

.persona-image {
	float: left;
	padding: 0 10px 0 5%;
}

.downarrow {
	float: left;
	padding: 7px;
}

.align-aside {
	padding-left: 13%;
}

.aside-options {
	padding-left: 4%;
}

.aside-options > h3 {
	margin: 0;
}

.content-section {
	padding-left: 10%;
	padding-bottom: 15px;
}

.content-section h3 {
	margin-left: 10%;
}

.option-section {
	padding-left: 18%;
}

.digit {
	float: right;
	width: 20px;
	height: 25px;
	margin-right: 30%;
	box-sizing: border-box;
	text-align: center;
<<<<<<< HEAD
	color: #66749B;
=======
	color: #323a4c;
>>>>>>> origin/master
}

#content {
	width: 100%;
	background-color: #d0d7de;
	height: auto;
	float: left;
	border-radius: 3px;
}

.content-item {
	margin: 50px auto 50px auto;
	width: 600px;
	height: 400px;
	background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-top {
	height: 200px;
	width: 600px;
	float: left;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

}

.content-bottom {
	float: left;
	height: 165px;
	width: 600px;
	background-color: #eff4f7;
<<<<<<< HEAD
=======
	font-family: "Roboto Slab";
>>>>>>> origin/master
	text-align: left;
	box-sizing: border-box;
}

.expert-info img {
	padding-top: 15px;
	padding-left: 10%;
	padding-right: 10px;
	float: left;
}

.expert-name-job {
	height: 85px;
<<<<<<< HEAD
	padding-top: 23px;
=======
	padding-top: 15px;
>>>>>>> origin/master
	font-family: "Roboto Slab";
}

.expert-name-job h3, .expert-name-job h4 {
	margin: 0;
	padding-left: 10px;
}

.expert-name-job h3 {
<<<<<<< HEAD
	color: #4A4A4A;
}

.expert-name-job h4 {
	color: #B3B3B3;
=======
	color: #5a5a5a;
}

.expert-name-job h4 {
	color: #a4a3a4;
>>>>>>> origin/master
	font-weight: 400;
	margin-bottom: 5px;
}

.follow-button {
	background-color: #a48ad4;
	padding-left: 2%;
	padding-right: 2%;
<<<<<<< HEAD
	padding-top: 1px;
	padding-bottom: 3px;
	border-radius: 5px;
	font-size: 1em;
=======
	padding-top: 3px;
	padding-bottom: 3px;
	margin:;
	border-radius: 5px;
	font-size: 1.2em;
>>>>>>> origin/master
}

.content-top h2 {
	padding-top: 5px;
	padding-left: 10%;
	padding-right: 10%;
	font-weight: 400;
	margin: 0;
}

.content-bottom h2 {
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 10%;
<<<<<<< HEAD
	font-family: "Roboto Slab";
=======
>>>>>>> origin/master
}

.content-bottom p {
	padding-left: 10%;
	padding-right: 10%;
	position: relative;
}

.content-footer {
	height: 35px;
	width: 600px;
	background-color: #eff4f7;
<<<<<<< HEAD
=======
	font-family: "Roboto Slab";
>>>>>>> origin/master
	float: left;
}

.content-footer img {
	float: right;
<<<<<<< HEAD
	margin-left: 24px;
=======
>>>>>>> origin/master
}

.readmore {
	float: right;
	box-sizing: border-box;
	padding: 5px;
}

@media screen and (max-width: 800px) {

	aside {
		display: none;
	}
	main {
		width: 100%;
	}

}