@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
	font-family: "Open Sans";
	margin: 0;
	color: #FFF;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #333;
	padding: 0;
	margin: 0;
}

aside {
	width: 20%;
	height: 100%;
	background-image: url("../img/star.png");
	background-size: 35px auto;
	background-position: 14% 0;
	background-repeat: no-repeat;
	background-color: #323a4c;
	margin: 0;
	padding: 0;
	float: left;
}

main {
	width: 80%;
	height: 100%;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	float: right;
	color: #000;
	max-height: 100vh;
	overflow: auto;
}

aside h2, aside h3, aside h5 {
	padding: 0 0 0 5px;
	font-family: "Roboto Slab";
	color: #FFF;
}

<<<<<<< HEAD
aside h5 {
	padding-left: 0px;
}

=======
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
aside h5, img + h3 {
	margin: 0;
}

aside ul {
	width: 100%;
	padding-top: 4px;
	margin-left: -4%;
}

aside li {
	height: 25px;
	list-style-type: none;
}

aside ul ul li.tech {
	height: 25px;
	list-style-image: url("../img/menu-dot.png");
	padding-left: 5%;
}
aside ul ul li.design {
	height: 25px;
	list-style-image: url("../img/menu-dot-2.png");
	padding-left: 5%;
}

aside hr {
	width: 100%;
	height: 1px;
	margin: 20px 0 5px 0;
    border-top: 1px solid #313649;
    border-bottom: 0px;
}

#settings {
	margin-bottom: 0px;
}

#search {
	width: 100%;
	height: 70px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	text-align: center;
	background-color: #FFF;
}

.search-logo {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	float: left;
	opacity: 0.5;
}

.search-item {
	float: left;
	height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #709d3c;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 1px;
	color: #FFF;
	box-sizing: border-box;
<<<<<<< HEAD
	padding: 3px 8px 3px 8px;
=======
	padding: 3px;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
}

.search-cross {
	float: left;
	margin-top: 20px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	box-sizing: border-box;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #709d3c;
}

#menu {
	background-color: #f4f8fb;
<<<<<<< HEAD
	height: 60px;
	border-top: solid 1px #e1ecf3;
	border-bottom: solid 0px #e1ecf3;
}

#menu-arrow-wrapper {
	height: 15px;
	width: 100%;
	background-color: #d0d7de;
}

#menu-arrow-container {
	height: 15px;
	text-align: center;
	width: 20%;
	margin-left: 20%;
	transition: 0.5s;
}

#menu-arrow {
	width: 0; 
	height: 0; 
	margin: auto;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #f4f8fb;
	transition: 0.5s;
}

.menu-item {
	width: 20%;
	height: 60px;
	text-align: center;
	color: #9CB1C1;
=======
	height: 70px;
	border-top: solid 1px #e1ecf3;
	border-bottom: solid 1px #e1ecf3;
}

.menu-item {
	width: 25%;
	height: 70px;
	text-align: center;
	color: #9CB1C1;
=======
	text-align: center;
	background-color: #FFF;
}

.search-logo {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	float: left;
	opacity: 0.5;
}

.search-item {
	float: left;
	height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #709d3c;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 1px;
	color: #FFF;
	box-sizing: border-box;
	padding: 3px;
}

.search-cross {
	float: left;
	margin-top: 20px;
	height: 30px;
	box-sizing: border-box;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #709d3c;
}

#menu {
	background-color: #f4f8fb;
	height: 70px;
	border-top: solid 1px #e1ecf3;
	border-bottom: solid 1px #e1ecf3;
}

.menu-item {
	width: 25%;
	height: 70px;
	text-align: center;
	color: #a7b4c1;
>>>>>>> origin/master
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	font-weight: 700;
	font-family: "Roboto Slab";
	font-size: 1.1em;
	float: left;
	padding: 20px;
	box-sizing: border-box;
	border-right: solid 1px #e1ecf3;
<<<<<<< HEAD
	cursor: pointer;
}
.menu-item:first {
	border-left: solid 1px #e1ecf3;
}

.active-menu-item {
	background-color: #3ab34d;
	color: #FFF;
=======
}
.menu-item:first {
	border-left: solid 1px #e1ecf3;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
}

.intro {
	min-width: 100%;
	padding-left: 5%;
}

.intro h2 {
	padding-left: 75px;
	letter-spacing: 1px;
	font-weight: 500;
}

.intro h3, .intro h4 {
	font-weight: 400;
}

.star { 
	float: left;
	padding: 0px;
}

.hamburger {
	float: left;
	padding: 0 8px 0 5%;
}

#feed {
	background-color: #3e445c;
}

.highlight {
	background-color: #3ab34d;
<<<<<<< HEAD
	height: 35px;
	margin-top: 35px;
}

.highlight h2 {
	font-size: 1.1em;
	line-height: 180%;
	letter-spacing: 1px;
	font-weight: 550;
=======
	padding-left: 5%;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
}

.persona-image {
	float: left;
	padding: 0 10px 0 5%;
}

.downarrow {
	float: left;
	padding: 7px;
}

.align-aside {
	padding-left: 13%;
<<<<<<< HEAD
	letter-spacing: 0.5px;
}

.saved-articles {
	text-decoration: underline;
	font-size: 1.1em;
	font-weight: 400;
	padding-bottom: 15px;
}

.aside-options {
	padding-left: 23px;
=======
}

.aside-options {
	padding-left: 4%;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
}

.aside-options > h3 {
	margin: 0;
}

.content-section {
	padding-left: 10%;
	padding-bottom: 15px;
<<<<<<< HEAD
}

.content-section h3 {
	margin-left: 38px;
	letter-spacing: 0.5px;
}

.option-section {
	padding-left: 17%;
=======
}

.content-section h3 {
	margin-left: 10%;
}

.option-section {
	padding-left: 18%;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
}

.digit {
	float: right;
	width: 20px;
	height: 25px;
	margin-right: 30%;
	box-sizing: border-box;
	text-align: center;
<<<<<<< HEAD
	color: #66749B;
=======
<<<<<<< HEAD
	color: #66749B;
=======
	color: #323a4c;
>>>>>>> origin/master
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
}

#content {
	width: 100%;
	background-color: #d0d7de;
	height: auto;
	float: left;
	border-radius: 3px;
}

.content-item {
<<<<<<< HEAD
	margin: 50px auto 5px auto;
	width: 600px;
	height: 420px;
=======
	margin: 50px auto 50px auto;
	width: 600px;
	height: 400px;
	background-color: #FFF;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-top {
<<<<<<< HEAD
	height: 275px;
=======
	height: 200px;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	width: 600px;
	float: left;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
<<<<<<< HEAD
	background-color: #FFF;
=======

>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
}

.content-bottom {
	float: left;
<<<<<<< HEAD
	height: 110px;
	width: 600px;
	background-color: #eff4f7;
=======
	height: 165px;
	width: 600px;
	background-color: #eff4f7;
<<<<<<< HEAD
=======
	font-family: "Roboto Slab";
>>>>>>> origin/master
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	text-align: left;
	box-sizing: border-box;
}

.expert-info img {
	padding-top: 15px;
<<<<<<< HEAD
	padding-left: 9%;
=======
	padding-left: 10%;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	padding-right: 10px;
	float: left;
}

.expert-name-job {
	height: 85px;
<<<<<<< HEAD
	padding-top: 23px;
=======
<<<<<<< HEAD
	padding-top: 23px;
=======
	padding-top: 15px;
>>>>>>> origin/master
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	font-family: "Roboto Slab";
}

.expert-name-job h3, .expert-name-job h4 {
	margin: 0;
	padding-left: 10px;
}

.expert-name-job h3 {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	color: #4A4A4A;
}

.expert-name-job h4 {
	color: #B3B3B3;
<<<<<<< HEAD
=======
=======
	color: #5a5a5a;
}

.expert-name-job h4 {
	color: #a4a3a4;
>>>>>>> origin/master
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	font-weight: 400;
	margin-bottom: 5px;
}

.follow-button {
	background-color: #a48ad4;
<<<<<<< HEAD
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	margin-left: 0;
	font-size: 1em;
}

.content-top h2 {
	padding-top: 15px;
=======
	padding-left: 2%;
	padding-right: 2%;
<<<<<<< HEAD
	padding-top: 1px;
	padding-bottom: 3px;
	border-radius: 5px;
	font-size: 1em;
=======
	padding-top: 3px;
	padding-bottom: 3px;
	margin:;
	border-radius: 5px;
	font-size: 1.2em;
>>>>>>> origin/master
}

.content-top h2 {
	padding-top: 5px;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	padding-left: 10%;
	padding-right: 10%;
	font-weight: 400;
	margin: 0;
<<<<<<< HEAD
	float: left;
}

.content-top p {
	margin-top: 10px;
	padding-left: 10%;
	padding-right: 10%;
	position: relative;
	float: left;
	font-family: "Open Sans";
	font-size: 1.2em;
}

.content-bottom h2 {
	padding-top: 0px;
	padding-left: 10%;
	padding-right: 10%;
	font-family: "Open Sans";
	font-size: 1.8em;
	font-weight: 300;
=======
}

.content-bottom h2 {
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 10%;
<<<<<<< HEAD
	font-family: "Roboto Slab";
=======
>>>>>>> origin/master
}

.content-bottom p {
	padding-left: 10%;
	padding-right: 10%;
	position: relative;
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
}

.content-footer {
	height: 35px;
	width: 600px;
	background-color: #eff4f7;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
	font-family: "Roboto Slab";
>>>>>>> origin/master
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
	float: left;
}

.content-footer img {
	float: right;
<<<<<<< HEAD
	margin-left: 24px;
=======
<<<<<<< HEAD
	margin-left: 24px;
=======
>>>>>>> origin/master
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
}

.readmore {
	float: right;
	box-sizing: border-box;
	padding: 5px;
}

<<<<<<< HEAD
.content-options {
	width: 600px;
	height: 50px;
	margin: auto;
	background-color: #0F0;
}

.content-options > * {
	float: left;
	margin-right: 5px;
}

.search-1 {
	background-color: #232D66;
}
.search-2 {
	background-color: #709D3C;
}
.search-3 {
	background-color: #4F7700;
}

=======
>>>>>>> 5dcc50a0303c728c6bc00619fd107164966768e9
@media screen and (max-width: 800px) {

	aside {
		display: none;
	}
	main {
		width: 100%;
	}

}