@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
	font-family: "Open Sans";
	margin: 0;
	color: #FFF;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #333;
	padding: 0;
	margin: 0;
}

aside {
	width: 20%;
	height: 100%;
	background-color: #323a4c;
	margin: 0;
	padding: 0;
	float: left;
}

main {
	width: 80%;
	height: 100%;
	background-color: #AAA;
	margin: 0;
	padding: 0;
	float: right;
}

aside h2, aside h3 {
	padding: 0 0 0 5px;
	font-family: "Roboto Slab";
	color: #FFF;
}

aside ul {
	width: 100%;
}

aside li {
	height: 25px;
	list-style-type: none;
}

aside ul ul li {
	height: 25px;
	list-style-image: url("../img/menu-dot.png");

}

hr {
	width: 100%;
	height: 1px;
	margin: 20px 0 5px 0;
    border-top: 1px solid #313649;
    border-bottom: 0px;
}

#settings {
	margin-bottom: 0px;
}

#search {
	width: 90%;
	margin: 20px auto;
	text-align: center;
}

.intro {
	min-width: 100%;
	padding-left: 5%;
}

.star { 
	float: left;
	padding: 10px;
}

.hamburger {
	float: left;
	padding: 0 8px 0 5%;
}

.highlight {
	background-color: #15a9da;
}

.persona-image {
	float: left;
	padding: 0 10px 0 5%;
}

.downarrow {
	float: left;
	padding: 7px;
}

.align-aside {
	padding-left: 20%;
}

.content-section {
	padding-left: 10%;
}
.option-section {
	padding-left: 18%;
}